ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
}
main {
  position: relative;
}
nav {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  height: 32px;
  color: rgb(72, 126, 197);
  font-weight: bold;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.navigombok {
  background-color: rgb(34, 34, 34);
  color: black;
  border-radius: 10em;
  font-size: 13px;
  font-weight: bold;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
  box-shadow: rgb(94, 142, 206);
  font-family: "Courier New", Courier, monospace;
}

.navigombok:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 rgb(94, 142, 206);
}

.navigombok:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 2px 5px 0 0 rgb(94, 142, 206);
}
.navigombok > span:hover {
  color: orange;
  text-decoration: none;
}
.navigombok > span {
  text-decoration: none;
  color: white;
}

#crapton {
  background-color: rgb(34, 34, 34);
  font-family: "Courier New", Courier, monospace;
  color: rgb(94, 142, 206);
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(46, 46, 133, 1) 100%
  );
}
body,
h1,
p {
  margin: 0px;
}
.moviescon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: fit-content;
  justify-content: center;
}
.moviescon > li {
  margin-left: 10px;
  margin-top: 10px;
  border: 2px white solid;
  width: 160px;
  height: 260px;
  display: inline-flex;
  padding-left: 0px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
img {
  width: 160px;
  height: 260px;
}
