.disabled {
  display: none;
}
.movieCard {
  position: absolute;
  width: 960px;
  height: 480px;
  background-color: white;
  top: 20%;
  left: 25%;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  background-color: rgb(18, 0, 82);
  backdrop-filter: blur(67px);
}
#imgC {
  height: 480px;
  width: 240px;
}
